.input {
    background-color: white;
    border: 3px solid $amarillo;
    border-radius: 8px;
    padding: 10px 30px;
    width: 250px;
    &__container {
    position: relative;
    display: flex;
    align-items: center;
    }
    &__icon {
    position: absolute;
    left: 10px;
    color: $amarillo;
    }
}