.table {
    width: 100%;

    &__row {
        display: grid;
        grid-template-columns: minmax(0, 0.5fr) repeat(4, minmax(0, 1fr));
        height: 44px;
        border: 1px solid gray;
        align-items: center;
        &--head {
            background-color: $azul-oscuro;
            color: $amarillo;
            font-weight: 700;
        }
    }
    &__cell {
        max-width: 100%;
        padding: 0 15px;
    }
    &__title {
        height: 22px;
        border: 1px solid $azul-claro;
        border-top: 0;
        text-align: center;
        padding: 5px;
        background-color: $azul-oscuro;
        color: $amarillo;
        display: grid;
        align-items: center;
        justify-content: center;
    }
}
