<nav class="nav__container">
    <i (click)="closeNav()" class="fa-solid fa-x nav__icon--close"></i>
    <ul class="nav">
        <li class="nav__item"><i class="fa-solid fa-plus"></i></li>
        <li class="nav__item"><i class="fa-solid fa-link"></i></li>
        <li class="nav__item"><i class="fa-solid fa-lock"></i></li>
        <li class="nav__item">F1</li>
        <li class="nav__item">SPR</li>
        <li class="nav__item"><i class="fa-solid fa-eye-slash"></i></li>
        <li class="nav__item"><i class="fa-solid fa-file-excel"></i></li>
    </ul>
</nav>
