<header class="header">
  <div class="header__filters">
    <div class="header__filters--top">
      <div class="input__container">
        <input
          class="input input__date"
          [matDatepicker]="picker"
          matInput
          [(ngModel)]="selectedDate"
          (ngModelChange)="onDateSelected()"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
      <button (click)="setToday()" class="button">Today</button>
      <mat-select
        class="input input__select"
        (selectionChange)="onAirportFilterChange($event)"
      >
        <mat-option
          *ngFor="let airport of airports"
          [value]="airport"
          >{{ airport}}</mat-option
        >
      </mat-select>
    </div>

    <div class="input__container">
      <input
        type="text"
        class="input"
        placeholder="Flight, Orig, Dest, Reg, Team Leader"
        [(ngModel)]="inputValue"
        (keyup.enter)="onEnter($event)"
      />
      <i class="fa-solid fa-magnifying-glass input__icon"></i>
    </div>
  </div>
  <h1 class="header__title">Operations</h1>
</header>
