<section class="table">
  <div class="table__title">DEPARTURES</div>

  <div class="table__row">
    <div class="table__cell">Flight Nº</div>
    <div class="table__cell">Dest</div>
    <div class="table__cell">CTOT</div>
    <div class="table__cell">ETD</div>
    <div class="table__cell">STD</div>
    <div class="table__cell">ATD</div>
    <div class="table__cell">TOB</div>
    <div class="table__cell">BAG</div>
    <div class="table__cell">Stand</div>
    <div class="table__cell"></div>
  </div>
</section>
