<section class="table">
  <div class="table__title">DEPARTURES</div>

  <div class="table__row table__row--head">
    <div class="table__cell">Flight Nº</div>
    <div class="table__cell">Dest</div>
    <div class="table__cell">CTOT</div>
    <div class="table__cell">ETD</div>
    <div class="table__cell">STD</div>
    <div class="table__cell">ATD</div>
    <div class="table__cell">TOB</div>
  </div>
  <div class="table__row" *ngFor="let flight of flights">
    <div class="table__cell">{{ flight.flight_iata }}</div>
    <div class="table__cell">{{ flight.arr_iata }}</div>
    <div class="table__cell">{{ flight.delayed }}</div>
    <div class="table__cell">-:-</div>
    <div class="table__cell">{{ flight.arr_time_utc | date : "HH:mm" }}</div>
    <div class="table__cell">
      {{ flight.arr_estimated_utc | date : "HH:mm" }}
    </div>
    <div class="table__cell"></div>
  </div>
</section>
