.header {
    height: 95px;
    position: sticky;
    top: 0;
    background-color: $azul-oscuro;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-bottom: 3px solid $amarillo;

    &__title {
        color: white;
        font-size: 32px;
        font-weight: 700;
    }
    &__filters {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 350px;
        &--top {
            display: flex;
            gap: 10px;
            & * .input {
                width: 100px;
            }
            & * .input__date, .input__date {
                width: 80px;
            }
      
        }
    }
}

